.idea
*.iml
target
build
test.txt
/src/main/leetcode/editor/cn/all.json
/src/main/leetcode/editor/cn/translation.json
/src/main/leetcode/editor/cn/doc/
temp/
src/main/java/com/leetcode/TempTest.java
.DS_Store
.factorypath
.classpath
.project
.settings/
.vscode/