<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.athaydes.spockframework.report" level="warn"/>

    <logger name="com.chenxi" level="trace"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>